/*!     
At least four style definitions
Styles that specify font colors
Styles that specify font family 
At least 3 divs that are positioned and styled using said styles
*/

.statement {
    text-align: center;
    font-size: 40px;    
    text-decoration: underline;
    font-family:monospace;
    color: #6B4423;
}
.headerlinks {
    font-size: 20px;        
    font-family:fantasy;    
    text-align:right;
    font-style: italic;
    color: #FFFFFF;
}
.overlist {
    font-size: 25px;    
    text-align:left;
    font-weight: 700;
    color: #003F87;
}
.underlist {
    font-size: 20px;    
    text-align:left;
    font-weight: 100;
    font-style:oblique;
    color: #13450e;
}
.vidintro {
    font-size: 20px;    
    text-align:justify;
    font-weight: 100;
    color: #000000; 
}
.bsabg{
  background-color: #F5DEB3;
}
.copyright{
    font-size: 20px;    
    text-align:center;
    font-style:initial;
    color: ##808080;  
}
.center{
    text-align:center;
}
